body
{
    background-color:#DFE8F6;
}
.sidebar_field
{
    border-color:#99BBE8;
    border-style: solid;
    background-color:#FFFFFF;
}
.titles
{
    color:#15428b;
    font-weight:bold; 
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    background: url(white-top-bottom.gif) 0 0 repeat-x;
    height:15px;
    line-height: 15px;
    padding: 5px 3px 4px 5px;
    border: 1px solid;
    border-color: #99BBE8;
}
#main
{
    width:99%;
}
#container
{
    min-width: 810px;
    width:expression(document.body.clientWidth < 810? "810px": "auto" );
    min-height: 650px;
    height:expression(document.body.clientHeight < 650? "650px": "auto" );
}
#sidebar {
    border-top: 1px solid #99BBE8;
    border-left: 1px solid #99BBE8;
    height: 100%;
    width: 275px;
    float: right;
    margin: 0px 0px 0px 10px;
    padding: 5px 0 0 5px;
}
#buttons {
    
    position: relative;
}
#scrub { 
    position: absolute;
    top: 8px;
    left: 10px;
    width: 30px;
}
#clear { 
    position: absolute;
    top: 8px;
    left: 80px;
    width: 30px;
}
#download { 
    position: absolute;
    top: 8px;
    left: 148px;
    width: 30px;
}
#unscrubbedtext { 
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    height: 30%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
}
#scrubbedtext { 
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    height: 30%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 3%;
}
#buffer {
    height: 20%;
    float: left;
    margin-left: 30px;
}
#stopwordtext {
    height: 20%;
    width: 15%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    margin-right: 5%;
}
#lemmatext {
    height: 20%;
    width: 15%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    margin-right: 5%;
}
#consolidationtext {
    height: 20%;
    width: 15%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    margin-right: 5%;
}
#tagbox {
    display: inline;
}
#info {
    position: absolute;
    bottom: 0;
}