body
{
    background-color:#DFE8F6;
    min-width: 810px;
    width:expression(document.body.clientWidth < 810? "810px": "auto" );
    min-height: 650px;
    height:expression(document.body.clientHeight < 650? "650px": "auto" );
}
.sidebar_field
{
    border-color:#99BBE8;
    border-style: solid;
    background-color:#FFFFFF;
}
.titles
{
    color:#15428b;
    font-weight:bold; 
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    background: url(white-top-bottom.gif) 0 0 repeat-x;
    height:15px;
    line-height: 15px;
    padding: 5px 3px 4px 5px;
    border: 1px solid;
    border-color: #99BBE8;
}
.sidetitles
{
    color:#15428b;
    font-weight:bold; 
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    background: url(white-top-bottom.gif) 0 0 repeat-x;
    height:15px;
    line-height: 15px;
    padding: 5px 3px 4px 5px;
    border: 1px solid;
    border-color: #99BBE8;
    margin-right: 2px;
    margin-left: 2px;
}
.bottomtitles
{
    color:#15428b;
    font-weight:bold; 
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    background: url(white-top-bottom.gif) 0 0 repeat-x;
    height:15px;
    width:32%;
    float: left;
    line-height: 15px;
    padding: 5px 3px 4px 5px;
    border: 1px solid;
    border-color: #99BBE8;
}
#main
{
    margin-left: 2px;
    margin-right: 365px;
}
#sidebar {
    height: 95%;
    width: 350px;
    float: right;
    margin: 0px 0px 0px 10px;
    padding: 0px 0 0 5px;
}
#buttons {
    position: relative;
}
#scrub { 
    position: absolute;
    top: 8px;
    left: 10px;
    width: 30px;
}
#clear { 
    position: absolute;
    top: 8px;
    left: 80px;
    width: 30px;
}
#download { 
    position: absolute;
    top: 8px;
    left: 148px;
    width: 30px;
}
#unscrubbedtext { 
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    height: 30%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
    padding-left: 3px;
    resize:vertical;
}
#scrubbedtext { 
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    height: 30%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
    padding-left: 3px;
    resize:vertical;
}
#buffer
{
    clear:left;
}
#stopwordtext {
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    height: 20%;
    width: 32%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    padding: 5px 3px 4px 5px;
}
#lemmatext {
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    height: 20%;
    width: 32%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    padding: 5px 3px 4px 5px;
}
#consolidationtext {
    border: 1px solid #99BBE8;
    background-color:#FFFFFF;
    height: 20%;
    width: 32%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    padding: 5px 3px 4px 5px;
}
#tagbox {
    display: inline;
}
#info {
    color:#15428b;
    font-weight:bold; 
    background: url(white-top-bottom.gif) 0 0 repeat-x;
    height:15px;
    width:100%;
    line-height: 15px;
    padding: 5px 0px 4px 0px;
    border: 0px solid;
    border-color: #99BBE8;
    position: absolute;
    bottom: 0;
}